header {
    background-color: lightsalmon;
}

.product-container {
    padding: 5px 100px;
    display: flex;
    justify-content: space-evenly;
}

.product-image {
    width: 350px;
    border: 1px solid;
    margin-left: 30px;
    margin-top: 10px;
}

.review-section {
    padding: 20px 200px;
    border: 1px solid;
}

.review-header {
    text-align: center;
    background-color: #4783D7;
    color: white;
}
.review {
    margin: 15px auto;
}

.profile-picture {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.star-rating {
    display: inline;
    height: 30px;
    width: 30px;
}

.user-review {
    text-align: justify;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.username {
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}



.branch-other-products-container{
    padding: 5px 100px;
    background-color: #DCE1E2;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-card {
    border: 1px solid black;
    padding: 15px;
}

div .product-card-image {
    width: 200px;
}